body {
    width: 90%;
    max-width: 800px;
}

@media (min-width: 640px) {
    html {
        background-color: #eaf6ff;
    }

    h1 {
        font-size: 2.5rem;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 1.5rem;
    }
}

aside {
    width: 170px;
    margin: 10px;
    font-size: 0.8rem;
}

li {
    list-style-type: none;
}

 ul {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
}

#stretchable-grid-items li {
    width: 100%;

}

@media (min-width: 500px) {
    #stretchable-grid-items li {
        width: 50%
    }
}

@media (min-width: 640px) {
   #stretchable-grid-items li {
        width: 25%
    }
}

ul {
    margin: 1rem -10px 1rem -10px;
}
